<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Internet Relay Chat</title>

    <link rel="stylesheet" href="style.css">

    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>
    <div>
        <p><a href="index.html">internet relay chat</a></p>
    </div>    

    <div>

      <h1>friends list</h1>
      <div class="chat-container">
        <label for="chat-box"></label>
        <input type="text" id="chat-box"></input>
        <button type="button" id="send-chat" class="send-button">search</button>
      </div>
      <p> </p>
      <li>
        <div>
          <p>example_namexXx, #12392 <a href="">message</a></p>
        </div>
      </li>
      <li>
        <div>
          <p>x_user_x, #02380 <a href="">message</a></p>
        </div>
      </li>

      <p><a href="newfriend.html">manage friends</a></p>
   
    </div>

  </body>
</html>
