<div>

    <div>
        <h1>make a new account</h1>
        <p> account name: </p>
        <input type="text"></input>
        <p> password: </p>
        <input type="text"></input>
        <p> email: </p>
        <input type="text"></input>
    </div>
    <div>
        <button type="button">make account</button>
    </div>

</div>
