
<div>
    <p><a>internet relay chat</a></p>
</div>    

<div>
    <h1>manage friends</h1>

    <div class="addfriend">
        <p> add friend by name: </p>
        <input type="text"></input>
        <button type="button">add</button>
    </div>
    <div class="addfriend">
        <p> add friend by user ID: </p>
        <input type="text"></input>
        <button type="button">add</button>
    </div>
    <div class="removefriend">
        <p> remove friend by user ID: </p>
        <input type="text"></input>
        <button type="button">remove</button>
    </div>
    <div class="removefriend">
        <p> remove friend by name: </p>
        <input type="text"></input>
        <button type="button">remove</button>
    </div>
</div>

