<div>
    <h1>manage friends</h1>

    <div class="addfriend">
        <p> search friend by name: </p>
        <input type="text"></input>
        <button type="button">add</button>
    </div>
    <div class="addfriend">
        <p> search by user ID: </p>
        <input type="text"></input>
        <button type="button">add</button>
    </div>
</div>
