<div>

    <div>
        <h1>make a new room</h1>
        <form id="create_newroom" method="POST" action="/create_new_room">
          <label for="room_name">Room Name: </label>
          <input type="text" name="room_name" id="room_name">
          <input type="submit">
        </form>
    </div>

</div>
