
<div>
    <p><a href="index.html">internet relay chat</a></p>
</div>    

<div>

    <div>
        <h1>make a new room</h1>
        <p> new room name: </p>
        <input type="text"></input>
    </div>
    <div>
        <button type="button">make room</button>
    </div>  

</div>

 
