<div>
  <h1>rooms</h1>

  <form id="search_rooms" method="POST" action="/rooms">
    <label for="room_name">Room Name: </label>
    <input type="text" name="room_name" id="room_name">
    <input type="submit" value="search"/>
  </form>

  {{!-- Create a table --}}
  <table>
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Message</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.creationDate}}</td>
            <td><a href="">message</a></td>
        </tr>
        {{/each}}
    </tbody>
  </table>

  <p><a href="/newrooms">make a new room</a></p>

</div>
