<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Internet Relay Chat</title>

    <link rel="stylesheet" href="style.css">

    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>
        <div>
            <p><a href="index.html">internet relay chat</a></p>
        </div>    
        
    <div>
        <h1>user info</h1>
        <p>ID number: #12345</p>

        <div>
            <p> account name: useraccountname</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>
        <div>
            <p> account email: user@gmail.com</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>

        <div>
            <p>make a new account: </p>
            <button type="button">make new account</button>
        </div>

        <!-- <div class="friends-list">
            <ul class="friends">Friends</ul>
            <li> friend 1</li>
            <button type="button" id="new-room" class="new-room-button">Add new friend</button>
        </div> -->
    </div>

  </body>
</html>
