
    <div>
        <h1>user info</h1>
        <p>ID number: #12345</p>

        <div>
            <p> account name: useraccountname</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>
        <div>
            <p> account email: user@gmail.com</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>

        <div>
            <p>make a new account: </p>
            <a href="/newaccount">make new account</a>
        </div>

    </div>
