
    <div>
        <h1>user info</h1>
        <p>ID number: #{{data.[0].id}}</p>

        <div>
            <p> account name: {{data.[0].username}}</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>
        <div>
            <p> account email: {{data.[0].email}}</p>
            <input type="text"></input>
            <button type="button">change</button>
        </div>

        <br>
        <form action="/newaccount">
            <input type="submit" value="Make a new account"/>
        </form>

    </div>
